:root {
  --primary: #eef0ff;
  --secondary: #ffffff;
  --tertiary: #220061;
  --text-color: #000000;
  --text-color-2: #4039a8;
  --br: 5px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Large screens (1200px) */
/* Default font-size (1rem = 10px) */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  scroll-behavior: smooth;
}

/* Medium screens (up to 1200px or 75em) */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%; /* 16px * 56.25% = 9px */
  }
}

/* Small screens (up to 900px or 56.25em) */
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%; /* 16px * 50% = 8px */
  }
}

/* Larger screens (greater than 1200px or 75em) */
@media only screen and (min-width: 75em) {
  html {
    font-size: 68.75%; /* 16px * 68.75% = 11px */
  }
}

/* Very large screens (greater than 1800px or 112.5em) */
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; /* 16px * 75% = 12px */
  }
}



body {
    font-family: "Comfortaa", sans-serif;
    color: var(--text-color);
    margin: 0 4rem;
}

/* NAVIGATION */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary);
    padding: 2rem  3rem;
    font-size: 1.5rem;
    font-weight: 700;
}


.logo {
    font-family: "Comfortaa", sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--tertiary);
}
.logo__icon {
    font-size: 3rem;
}
.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

@media only screen and (max-width: 37.5em) {
  .nav__list-2 {
    display: none;
  }
}


.nav__item {
    position: relative;
    color: var(--text-color);
    text-decoration: none;

}
.nav__item:hover {
    color: var(--text-color-2);
}

/* BUTTON */

.btn {
    padding: 1rem 2rem;
    border-radius: var(--br);
    outline: none;
    border: 1px solid var(--tertiary);
    cursor: pointer;
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .2s ease-in-out;
}

.btn:focus {

    box-shadow: 0 10px 20px rgba(200, 200, 200, .5);
}


.btn:hover {
    background: var(--tertiary);
    color: var(--secondary);
}
.btn--dark {
    background: var(--tertiary);
    color: var(--secondary);
}

.btn--dark:hover {
    background: transparent;
    color: var(--text-color);
}

.version.btn:hover {
     background: transparent;
    color: var(--text-color);
    box-shadow: 0 10px 20px rgba(200, 200, 200, .5);
}


.version.btn--dark:hover {
    background: var(--tertiary);
    color: var(--secondary);
    box-shadow: 0 10px 20px rgba(200, 200, 200, .5);
}


/* HEADER */

.header {
    padding: 8rem 4rem;
    background: var(--primary);
    border-radius: var(--br);
}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    flex-basis: 60%;
}

.heading {
    font-size: 6rem;
}

@media only screen and (max-width: 56.25em) {
  .heading {
    font-size: 6rem;
}
}

.sub-heading {
    font-size: 2.25rem;
    max-width: 60%;
}

.header__cta {
    display: flex;
    gap: 2rem;
    align-items: center;

}

.header__cta > .btn:has(i) {
    color: var(--text-color-2);
    font-weight: 900;
    border: none;
}
.header__cta > .btn:has(i):hover {

    color: var(--primary);
}

.header__cta > .btn > i {
    margin-left: 1rem;

}


/* FEATURES */

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 4rem 8rem;
}

@media only screen and (max-width: 37.5em) {
  .features {
    padding: 4rem;
    justify-content: center;
    gap: 5rem;
  }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.feature__number {
   font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-size: 3rem;
}

.feature__text {

    font-size: 1.25rem;
}

/* APP */

.app {
    padding: 8rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}



.versions {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.versions__heading {
    text-align: center;
    font-size: 2.25rem;
}

.form {

    padding: 0 10rem;
    display: flex;
    column-gap: 3rem;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .form {
    padding: 0;
  }
}



.form__heading {
    font-size: 2.25rem;
    color: var(--text-color-2);
    margin-bottom: 2rem;
}

.form__sub-heading {

    margin: 1rem 0;

}

@media only screen and (max-width: 37.5em) {
  .form__sub-heading {
    text-align: center;
  }
}

.form__group {

    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .5rem;

}

.full-width {

    flex-basis: 100%;
}

.form__input {
    font-family: "Comfortaa", sans-serif;
    padding: 1rem 2rem;
    border-radius: var(--br);
    outline: none;
    border: 1px solid rgba(200, 200, 200, 0.5);
    box-shadow: 0px 5px 10px rgba(150, 150, 150, .1);
    transition: all .2s ease-in-out;
}
.form__input:focus {
    border-color: rgba(150, 150, 150, .8);
    box-shadow: 0px 5px 20px rgba(150, 150, 150, .3);

}

.form-heading {

    color: var(--text-color-2);
}

.form__sub-heading {
    font-size: 2.25rem;
    color: var(--text-color-2);
}

.form__label {
    cursor: pointer;
    color: var(--text-color-2);
    font-size: 1.25rem;

}

/* Result */

.result_wrapper {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(238 240 255 / 71%);;
    z-index: 9999;
    display: grid;
    place-items: center;
}

.result {
    color: var(--tertiary);
    background: #fff;
    border-radius: 15px;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;
    justify-content: center;
    position: relative;
}

.close {
    color: var(--tertiary);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    background: transparent;
    cursor: pointer;
    font-size: 2.5rem;

}

.label {
  font-size: 1.5rem;
  color: #64748b;
  margin-bottom: 4px;
}

.value {
  font-size: 1.75rem;
  font-weight: bold;
  color: #0f172a;
}

.probability-bar {
  height: 12px;
  background-color: #e2e8f0;
  border-radius: 6px;
  overflow: hidden;
  margin-top: 6px;
}

.probability-fill {
  height: 100%;
  background-color: #3b82f6;
  width: 185%; /* change based on probability */
}

/* UTILS */

.hide {
    display: none
}




